Disallow sending MAC failure fatal alerts to non-validated peers

Imagine the following:
* server S has an active session with client A using CID=1
* S crashes and restarts
* a new session using CID=1 is successfully established between S and client B
* A sends a record with CID=1
* MAC verification fails for the record

If at this point S decides *not* to follow the `SHOULD silently discard` recommendation in [RFC 6347](https://tools.ietf.org/html/rfc6347#section-4.1.2.1) and instead replIes to B (since A's address has not been validated) with a fatal MAC failure alert, a perfectly valid session would be killed.

Why should Server S send any record to B, when receiving and record from A with a different address?

It can't send it to A because per [peer update rules](https://tools.ietf.org/html/draft-ietf-tls-dtls-connection-id-07#section-6) A is not a validated peer (crypto fails on the received record).  If S decided to send anything back, it could only send to B, which is the validated peer for CID=1.

Wouldn't it be a general rule, not to sent any response to different addresses?


Please see [Section 4.1.2.1 of RFC6347](https://tools.ietf.org/html/rfc6347#section-4.1.2.1), last paragraph. PR #73  strengthens the SHOULD to a MUST.

I still think, that generally no answer should be send to a different address.
That will no be only true for alerts, it is generally true.

Reading [RFC6347 4.1.2.1](https://tools.ietf.org/html/rfc6347#section-4.1.2.1)

> If a DTLS implementation chooses to generate an alert when it receives a
> message with an invalid MAC, it MUST generate a bad_record_mac alert
> with level fatal and terminate its connection state.

The termination of the connection state is independent from introducing CID.
(Therefore "a perfectly valid session would be killed." is the specified consequence of sending alert rather than something new and unknown introduced by CID.)

If a specification got somehow more complex, and so introduce misunderstandings, I would prefer to have general rules instead of introducing context sensitive rules. 


What are you suggesting exactly?

For me this look like, there is no additional risk.
Using the option to choose to generate an alert is specified including the consequences. Assuming spoofing for "None-CID" traffic, introducing CID doesn't add new risks.
So, nothing need to be added.

Maybe, if wanted, an additional hint, that with CID it may be easier to sent records with invalid MAC and so choosing to generate an alert should be well reconsidered though it would be mostly the wrong approach. 
  

> For me this look like, there is no additional risk.

But there is *a* risk that is worth pointing out and fixing.  Even if it's only incremental value.

> But there is a risk that is worth pointing out and fixing. Even if it's only incremental value.

As long as it is clear, that the general risk was always there and CID makes it more probable to terminate the connection state accidentally.

I added a [Proposal](https://github.com/tlswg/dtls-conn-id/pull/73#issuecomment-630678676).

In my opinion, this describes the higher risk and the resulting MUST NOT for alerts at the right place without limiting the processing in other scopes.