cid=empty and MAC calculation

If this feature is negotiated on, then the MAC calculation changes, even if no connection ID is sent, because of `cid_length`.  This needs to be clearly sign-posted.

My preferred interpretation is:

`cid=empty` uses the original RFC6347, section 4.1 record format

https://tools.ietf.org/html/rfc6347#section-4.1

indicated by the already used content type ids. That includes also the unchanged MAC.

Created a pull request to add clarifying text: https://github.com/tlswg/dtls-conn-id/pull/35

@martinthomson 

it would be great, if you could explain, if you want to use the new record type with an empty CID in order to obfuscate the DTLS payload length. Please note, that currently the specification of this draft turns more into a "strict" usage (see issue #28) which will not support the new record type with an empty CID.  

Interesting question.  Yes, I would like to be able to use the new record type to pad records, but I don't think that it is an especially important consideration.  If the design is easier without that, and I suspect that it is, then I am OK with not doing that.  A one-octet connection ID is not that much of a burden to pay to get this feature.

> A one-octet connection ID is not that much of a burden to pay to get this feature.

So you would then got for adding a 1 byte cid, but still use the ip-address:port to map it to the security context (keying stuff)? Or do you consider only a few connections?

For me that is just one of the scenario's, I'm really afraid of! 
It makes the usage of cid more indeterministic, if the spec "ignores" that kind of usage instead of explicitly considering it!

FMPOV, it will be easier, to support then a empty CID record indicating, that still the ip-address:port must be used instead of a 1 byte cid, but then being not strict on the mapping.
 


Addressed in submitted version -04